table {
	border-collapse: collapse;
	font-family: Tahoma, sans-serif;
	font-size: 31px;
}
th {
	border-bottom: 2px solid grey;
	padding: 20px 180px 20px 20px;
	text-align: left;
}
td {
	padding: 20px 180px 20px 20px;
}
